*
{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	
}

th
{
	font-style: normal;
	color:white;
}

.header
{
	width: 100%;
	height: 150px;
	background-color: #ab000d;
	padding: 25px;
	display:block;
	position:center;
}
th{
	padding: 8px;
}

.header table{
	display:block;
	float:right;
}
.hours{
	display:block;
	float:right;
}

.navbar
{
	width: 100%;
	height: 20%;
	background-color: #e53935;
}
.navbar li{
	padding-left:60px;
	padding-right: 60px;
	padding-bottom: 5px;
	padding-top: 10px;
	color: white;
	
}
.navbar:first-child
{
	padding-left:15%;
}


.navbar li:hover
{
	background-color: #ff6f60;
	border: 1px solid #e53935;
}

#search-icon
{
	background-color: white;
}

.sidenav
{
	width: 200px;
	height: 1000px;
	float:left;
}


#cat
{
	background-color: #e53935;
	color:white;
}

.card
{
	height: 600px;
	width: 300px;
	padding: 15px;
	margin: 25px;
}

.nav-link
{
	color:white;
}
.nav-link:hover{
	background-color: #ff6f60;
	color:white;
}
.card-img-top
{
	height: 300px;
}
.cardDecks
{
	color: black;
}
.card-pack
{
	margin: 15px;
	display:block;
	margin-left: 2%;
}
.buttons
{
	float:right;
}

.frame
{
	margin: 20px;
	padding: 5px;
	display:block;
	text-align:center;
}
#calendar
{
	border:solid 5px #ab000d;
}
.contactUs
{
	width: 300px;
	height: 500px;
	float: left;
}

.storeHours p:first-child {
	text-align:center;
}

.storeHours p {
	color: black;
}

.storeHours {
background:white;
	padding: 2%;
    margin-left: 60%;
}

.boxBreakInfoTable {
	float:left;
}

.boxBreakTimeTable {
	margin-left: 60%;
}

.boxBreakInfoTable th, td {
	color: black;
}

.boxBreakTimeTable th, td{
	color: black;
}

.fa-cart-plus:before {
	color: black;
}

.input-group-text {
	background-color: white;
}

.fa-search:before {
	color: black;
}

/** Box-break page **/
.boxBreakInfoTable, .boxBreakTimeTable{
	display:block;
	border: 2px solid #ab000d;
	text-align:center;
	padding:10px;
	background-color:#ff6f60;
	color: #3f51b5 !important;
}

.boxBreakInfoTable table
{
	width: 500px;
	height: 350px;
	
}
.boxBreakInfoTable
{	
	margin-left: 150px;
	margin-top: 150px;
}
.boxBreakInfoTable td
{
	width: 65%;
}
.boxBreakTimeTable{
	margin-right: 150px;
	margin-top: 150px;
}

.boxBreakTimeTable td
{
	width: 75%;
}

.boxBreakTimeTable table
{
	width: 500px;
	height: 350px;
	color: #3f51b5 !important;
	
}
/** Contact Us **/

.storeHours
{
	display:block;
	border: 5px solid #ab000d;
	background-color: #ff6f60;
	color:#3f51b5;
	margin-right: 50px;
	margin-top: 50px;
}
.storeHours p
{
	color:#3f51b5;
}

.contactUs
{
	display:block;
	border: 5px solid #ab000d;
	background-color: #ff6f60;
	color:#3f51b5;	
	width: 500px;
	margin-left: 150px;
	margin-top: 50px;
	padding: 20px;
}
.form-group
{
	width: 300px;
}

/**Admin Page**/
.container
{
	display:block;
	margin:  50px;
	margin-left:15%;
	padding: 50px;
	border: 5px #ab000d solid;
	background-color:#ff6f60;
	color: black;
	position:center;
	position:absolute;
}
.right{
	display:block;
	float: right;
}
.left{
	display:block;
	float: left;
}
label
{
		color:white;
}

#fileToUpload
{
	margin: 5px;
	display:block;
	float:right;
	color:white;
}
	
#adminOptions:hover
{
	background-color:#e53935;
}
/**Login Page**/
.g-signin2 {
	color:black;
}

/* This is google's autogenerated id */
#not_signed_indmmlomfgw9yo {
	color:black!important;
}

#connectedxzgzm3337uy1
{
	color:black!important;
}

#showDetails
{
	position: absolute;
	bottom:   5px;
	right: 10px;
}
#addButton
{
	position: absolute;
	bottom:   5px;
	left: 10px;
}


	

